---
interface Skill {
  name: string;
  color: string;
  svgPath: string;
}

const skills: Skill[] = [
  {
    name: 'HTML',
    color: '#e34c26',
    svgPath:
      'M1.5 0h21l-1.91 21.563L11.977 24l-8.564-2.438L1.5 0zm7.031 9.75l-.232-2.718 10.059.003.23-2.622L5.412 4.41l.698 8.01h9.126l-.326 3.426-2.91.804-2.955-.81-.188-2.11H6.248l.33 4.171L12 19.351l5.379-1.443.744-8.157H8.531z',
  },
  {
    name: 'CSS',
    color: '#264de4',
    svgPath:
      'M1.5 0h21l-1.91 21.563L11.977 24l-8.565-2.438L1.5 0zm17.09 4.413L5.41 4.41l.213 2.622 10.125.003-.255 2.716h-6.64l.24 2.573h6.182l-.366 3.523-2.91.804-2.956-.81-.188-2.11h-2.61l.29 3.855L12 19.288l5.373-1.53L18.59 4.414z',
  },
  {
    name: 'JavaScript',
    color: '#f7df1e',
    svgPath:
      'M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z',
  },
  {
    name: 'TypeScript',
    color: '#007acc',
    svgPath:
      'M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z',
  },
  {
    name: 'React',
    color: '#61dafb',
    svgPath:
      'M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.41 0-.783.093-1.106.278-1.26.747-1.967 2.556-1.867 4.814.025.598.108 1.218.217 1.851-1.302.357-2.402.984-3.117 1.818-.889 1.03-1.062 2.28-.549 3.499.537 1.286 1.814 2.232 3.538 2.632-.126.58-.186 1.132-.193 1.655-.06 2.175.658 3.837 1.928 4.548.355.2.76.302 1.19.302 1.365 0 3.122-.993 4.895-2.68 1.78 1.698 3.538 2.7 4.906 2.7.43 0 .833-.103 1.19-.302 1.27-.711 1.987-2.373 1.928-4.548-.007-.523-.067-1.075-.193-1.655 1.724-.4 3.002-1.346 3.538-2.632.512-1.22.34-2.47-.549-3.499-.715-.834-1.815-1.461-3.116-1.818.108-.633.192-1.253.216-1.851.101-2.258-.606-4.067-1.866-4.814a2.717 2.717 0 0 0-1.107-.278zm4.468 5.67c.26.09.505.2.73.33.71.422 1.08 1.2.9 2.101-.14.714-.617 1.426-1.377 2.028a11.03 11.03 0 0 0-.545-1.208 13.965 13.965 0 0 0-1.063-1.752c.47-.476.922-.928 1.355-1.499zm-2.22 8.146c-.374.5-.763.97-1.166 1.404a12.61 12.61 0 0 1-1.313-1.545 12.61 12.61 0 0 1-1.316 1.545 19.098 19.098 0 0 1-1.166-1.404c-.364-.49-.69-.993-.974-1.502.283-.508.61-1.012.974-1.502.374-.5.764-.97 1.166-1.404.452.434.895.902 1.316 1.404.42-.502.864-.97 1.313-1.404.402.434.792.904 1.166 1.404.364.49.69.994.974 1.502a14.65 14.65 0 0 1-.974 1.502zm1.986-5.06a13.98 13.98 0 0 1 1.063 1.752c.21.436.39.873.545 1.208-.733.602-1.21 1.314-1.377 2.028-.18.901.19 1.679.9 2.101.224.13.47.24.73.33-.432-.571-.884-1.023-1.354-1.499a13.965 13.965 0 0 0 1.063-1.752 13.97 13.97 0 0 0 .545-1.208c-.733-.602-1.21-1.314-1.378-2.028-.18-.901.19-1.679.901-2.101a3.927 3.927 0 0 0-.73-.33c.47.476.922.928 1.354 1.499a13.965 13.965 0 0 0-1.063 1.752zm-9.744 5.06a14.65 14.65 0 0 1-.974-1.502c.283-.508.61-1.012.974-1.502.374-.5.763-.97 1.166-1.404.452.434.895.902 1.316 1.404.42-.502.864-.97 1.313-1.404.402.434.792.904 1.166 1.404.364.49.69.994.974 1.502a14.65 14.65 0 0 1-.974 1.502c-.283.508-.61 1.012-.974 1.502-.374.5-.764.97-1.166 1.404a12.61 12.61 0 0 1-1.313-1.545 12.61 12.61 0 0 1-1.316 1.545 19.098 19.098 0 0 1-1.166-1.404zm-4.245-8.61c.225-.13.47-.24.73-.33-.47.476-.923.928-1.355 1.499a13.98 13.98 0 0 0-1.063 1.752 13.97 13.97 0 0 0-.545 1.208c.733.602 1.21 1.314 1.377 2.028.18.901-.19 1.679-.9 2.101a3.927 3.927 0 0 1-.73-.33c-.71-.422-1.08-1.2-.9-2.101.14-.714.617-1.426 1.377-2.028a11.03 11.03 0 0 1 .545-1.208 13.965 13.965 0 0 1 1.063-1.752c-.47-.476-.922-.928-1.355-1.499zm2.22-4.12c.26-.09.505-.2.73-.33-.71.422-1.08 1.2-.9 2.101.14.714.617 1.426 1.377 2.028a11.03 11.03 0 0 1 .545 1.208 13.965 13.965 0 0 1 1.063 1.752c-.47.476-.922.928-1.355 1.499a3.927 3.927 0 0 0-.73.33c-.71-.422-1.08-1.2-.9-2.101.14-.714.617-1.426 1.377-2.028a11.03 11.03 0 0 0-.545-1.208 13.965 13.965 0 0 0-1.063-1.752c.47-.476.922-.928 1.354-1.499z',
  },
  {
    name: 'Vue',
    color: '#4fc08d',
    svgPath:
      'M24.4 0H14.8l-2.8 4.8L9.2 0H0l12 20.8L24.4 0zM12 14.56L3.71 0h4.87L12 6.21 15.42 0h4.86L12 14.56z',
  },
  {
    name: 'Java',
    color: '#f89820',
    svgPath:
      'M8.851 18.56s-.917.534.653.714c1.902.218 2.874.187 4.969-.211 0 0 .552.346 1.321.646-4.699 2.013-10.633-.118-6.943-1.149M8.276 15.933s-1.028.761.542.924c2.032.209 3.636.227 6.413-.308 0 0 .384.389.987.602-5.679 1.661-12.007.13-7.942-1.218M13.116 11.475c1.158 1.333-.304 2.533-.304 2.533s2.939-1.518 1.589-3.418c-1.261-1.772-2.228-2.652 3.007-5.688 0-.001-8.216 2.051-4.292 6.573M19.33 20.504s.679.559-.747.991c-2.712.822-11.288 1.069-13.669.033-.856-.373.75-.89 1.254-.998.527-.114.828-.093.828-.093-.953-.671-6.156 1.317-2.643 1.887 9.58 1.553 17.462-.7 14.977-1.82M9.292 13.21s-4.362 1.036-1.544 1.412c1.189.159 3.561.123 5.77-.062 1.806-.152 3.618-.477 3.618-.477s-.637.272-1.098.587c-4.429 1.165-12.986.623-10.522-.568 2.082-1.006 3.776-.892 3.776-.892M17.116 17.584c4.503-2.34 2.421-4.589.968-4.285-.355.074-.515.138-.515.138s.132-.207.385-.297c2.875-1.011 5.086 2.981-.928 4.562 0-.001.07-.062.09-.118M14.401 0s2.494 2.494-2.365 6.33c-3.896 3.077-.888 4.832-.001 6.836-2.274-2.053-3.943-3.858-2.824-5.539 1.644-2.469 6.197-3.665 5.19-7.627M9.734 23.924c4.322.277 10.959-.153 11.116-2.198 0 0-.302.775-3.572 1.391-3.688.694-8.239.613-10.937.168 0-.001.553.457 3.393.639',
  },
  {
    name: 'Spring',
    color: '#6db33f',
    svgPath:
      'M21.8537 1.4158a10.4504 10.4504 0 0 1-1.284 2.2471A11.9666 11.9666 0 1 0 3.8518 20.7757l.4445.3951a11.9543 11.9543 0 0 0 19.6316-8.2971 12.2966 12.2966 0 0 0-2.0742-11.458zM12.016 4.5402a1.4945 1.4945 0 0 1 1.5414 1.4473 1.4973 1.4973 0 0 1-1.4473 1.5445h-.047a1.4944 1.4944 0 0 1-1.5414-1.4473v-.0436a1.5153 1.5153 0 0 1 1.4943-1.5009zm-5.006 10.8371a1.6868 1.6868 0 0 1-1.6243-1.251 1.6586 1.6586 0 0 1 .2608-1.332 1.67 1.67 0 0 1 2.949.9897 1.6671 1.6671 0 0 1-1.5855 1.5933zm4.3108 5.2345a1.2657 1.2657 0 0 1-1.7474-.3485 1.2647 1.2647 0 0 1 .3485-1.7474 1.2647 1.2647 0 0 1 1.7474.3485 1.2657 1.2657 0 0 1-.3485 1.7474zm1.0207-3.5656a3.6751 3.6751 0 0 1-4.8567-1.8386l-.0185-.0437c-.5795-1.4692.6984-4.0552 3.6225-5.0728 2.1583-.7459 4.1892-.3488 5.1914.8805.9208 1.1385.7924 2.7254-.1411 4.1892a3.8013 3.8013 0 0 1-3.7976 1.8854zm6.2437 1.6493a1.2638 1.2638 0 1 1 .5982-2.4564 1.2638 1.2638 0 0 1-.5982 2.4564z',
  },
  {
    name: 'Docker',
    color: '#2496ed',
    svgPath:
      'M13.983 11.078h2.119a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.119a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 0 0 .186-.186V3.574a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m0 2.716h2.118a.187.187 0 0 0 .186-.186V6.29a.186.186 0 0 0-.186-.185h-2.118a.185.185 0 0 0-.185.185v1.887c0 .102.082.186.185.186m-2.93 0h2.12a.186.186 0 0 0 .184-.186V6.29a.185.185 0 0 0-.185-.185H8.1a.185.185 0 0 0-.185.185v1.887c0 .102.083.186.185.186m-2.964 0h2.119a.186.186 0 0 0 .185-.186V6.29a.185.185 0 0 0-.185-.185H5.136a.186.186 0 0 0-.186.185v1.887c0 .102.084.186.186.186m5.893 2.715h2.118a.186.186 0 0 0 .186-.185V9.006a.186.186 0 0 0-.186-.186h-2.118a.185.185 0 0 0-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 0 0 .185-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.186.186 0 0 0-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 0 0 .184-.185V9.006a.185.185 0 0 0-.184-.186h-2.12a.185.185 0 0 0-.185.185v1.888c0 .102.083.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 0 0-.75.748 11.376 11.376 0 0 0 .692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 0 0 3.823-1.389c.98-.567 1.86-1.300 2.61-2.162 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288Z',
  },
  {
    name: 'Git',
    color: '#f05032',
    svgPath:
      'M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187',
  },
  {
    name: 'Node.js',
    color: '#339933',
    svgPath:
      'M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L1.448,18.49c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082 c0.570,0.329,0.924,0.944,0.924,1.603v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,16.997,19.099,15.91,19.099,13.993z',
  },
  {
    name: 'SQL',
    color: '#f29111',
    svgPath:
      'M12 3C7.589 3 4 4.344 4 6v12c0 1.656 3.589 3 8 3s8-1.344 8-3V6c0-1.656-3.589-3-8-3zm0 1.5c3.867 0 6.5 1.12 6.5 1.5S15.867 7.5 12 7.5 5.5 6.38 5.5 6s2.633-1.5 6.5-1.5zM5.5 8.28C6.74 9.04 9.17 9.5 12 9.5s5.26-.46 6.5-1.22V12c0 .38-2.633 1.5-6.5 1.5S5.5 12.38 5.5 12V8.28zM5.5 14.28C6.74 15.04 9.17 15.5 12 15.5s5.26-.46 6.5-1.22V18c0 .38-2.633 1.5-6.5 1.5S5.5 18.38 5.5 18v-3.72z',
  },
];
---

<section id="skills">
  <div class="container">
    <h2 class="section-title">Skills</h2>
    <p class="section-subtitle">Technologies I work with</p>
    <ul class="skills-grid">
      {
        skills.map((skill) => (
          <li class="skill-item">
            <div class="skill-icon" style={`--icon-color: ${skill.color}`}>
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor">
                <path d={skill.svgPath} />
              </svg>
            </div>
            <span class="skill-name">{skill.name}</span>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 20px;
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px 12px 20px;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    transition: transform var(--transition), border-color var(--transition), box-shadow var(--transition);
    cursor: default;
  }

  .skill-item:hover {
    transform: translateY(-5px);
    border-color: var(--icon-color, var(--color-accent));
    box-shadow: 0 6px 24px color-mix(in srgb, var(--icon-color, var(--color-accent)) 25%, transparent);
  }

  .skill-icon {
    width: 48px;
    height: 48px;
    color: var(--icon-color, var(--color-accent));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform var(--transition);
  }

  .skill-item:hover .skill-icon {
    transform: scale(1.12);
  }

  .skill-icon svg {
    width: 100%;
    height: 100%;
  }

  .skill-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-text-muted);
    text-align: center;
    font-family: var(--font-mono);
    transition: color var(--transition);
  }

  .skill-item:hover .skill-name {
    color: var(--color-text);
  }
</style>
